body {
  margin: 0;
  padding: 0;
}
#switch-btn {
 width: 150px;
}
.back-color {
  background-color: rgb(36, 10, 83);
}
#image-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
